@{
    ViewBag.Title = "Buttons";
}

<h2>Buttons</h2>

<div id="container">
    <label>This is the label!</label>
    <input type="button" value="Input type button" />
    <input type="reset" value="Input type reset" />
    <input type="submit" value="Input type submit" />
    <button>Button-tag</button>

    <button>Æøå&nbsp;med&nbsp;nonbreaking</button>
    <button>Æøå med mellomrom</button>
</div>
