@{
    ViewBag.Title = "SpanTest";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        input[type=text] {
            color: blue;
        }
        .clicked { color: red; }
    </style>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.debug.js"></script>
</head>
<body>
    <h2>SpanTest</h2>

    <div id="container">
        @for(int i = 0; i< 100; i++)
        {
            <span data-bind="click: click">Clickme</span><br />
        }

    </div>

    <script type="text/javascript">
        var viewModel = {
            click: function (item, e) {
                e.currentTarget.className = ('clicked');
            }
        }
        
        ko.applyBindings(viewModel);
    </script>
</body>
    </html>