@{
    ViewBag.Title = "Index";
}
<style>
    input[type=text]{ color: blue;}
    
</style>
<br/><br/><br/><br/><br/>
<h2>Index</h2>
<input type="text" id="textbox" />

<input type="text" id="delayedtextbox"/>

<input type="text" data-bind="value: someValue"/>


<script type="text/javascript">
    //setTimeout(function() {
    //    document.getElementById("delayedtextbox").value = '5 seconds elapsed';
    //}, 5000);

</script>