
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <style>
            input[type=text] {
                color: blue;
            }
        </style>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.debug.js"></script>
    </head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <h2>Index</h2>
    <input type="text" id="textbox" />

    <input type="text" id="delayedtextbox" />

    <input type="text" class="textboxwithoutid" />
    <input type="date" id="dateTimeField"/>
    
    <input type="text" id="knockoutText" data-bind="value: text"/>
    <span data-bind="text: text"></span>
    
    <ul id="nestedList">
        <li>
            Item 1 
        </li>
        <li>
            Item 2
            <ul id="innerLIst">
                <li>Inner item 1</li>
                <li>Inner item 2</li>
            </ul>
        </li>
    </ul>
</body>
</html>
<script type="text/javascript">
    setTimeout(function () {
        document.getElementById("delayedtextbox").value = '5 seconds elapsed';
    }, 5000);

    setTimeout(function () {

    var link = document.createElement('a');
    link.setAttribute('href', 'mypage.htm');
    link.setAttribute('id', 'someLink');
    link.innerHTML = "Link";
    document.getElementsByTagName("body")[0].appendChild(link);
    }, 5000);

    var viewModel = {
        text: ko.observable('knockout')
    };

    ko.applyBindings(viewModel);

</script>
