@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pagewithheadinfo</title>
    <meta name="description" content="Automated testing">
    <meta name="keywords" content="Selenium">
    <meta name="author" content="Yngve Bakken Nilsen">
    <link rel="stylesheet" href="http://can.be.anything/style.css" />
</head>
<body>
    <div>
        
    </div>
</body>
</html>
