<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAjlwydGt2NUm1CjdCTB4r0QAAAAACAAAAAAADZgAAwAAAABAAAABiKPNLUyTBfvWpzc0AzZsJAAAAAASAAACgAAAAEAAAAGNw54gAlY6L92Mr2eZQ/fMoAAAAXEnthNYHXgOwVJw+xdE8HJDJo05/hxYHM7CBOPdx7ocUZO+ki/Y4URQAAABD3/p1G1LuKTVLQCeWeL0CCr1o9w==" />
      <add key="https://nuget.org" value="a9faea05-4505-4bb5-bbbb-1a7a3847ae4e" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAjlwydGt2NUm1CjdCTB4r0QAAAAACAAAAAAADZgAAwAAAABAAAACXnSLHXAhoiWj8DbfIuORAAAAAAASAAACgAAAAEAAAABIPm1r6K4/fj+BdFEFWt1woAAAAKZbdCZyrAjPaT3YNex45cHD9MxZqMfM7lKgkj3q9Z39Xy+8Dgq/9sRQAAAA9b6KW14nCtNUNVlgRoReCC1ycLA==" />
  </apikeys>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/" />
  </packageSources>
</configuration>