<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Forms</title>
    <style>
    </style>

</head>

<body>

    
        <form method="GET" action="/html/forms">

        <input type="button" id="id-button"/>
        <input type="checkbox" id="id-checkbox"/>
        <input type="color" id="id-color"/>
        <input type="date" id="id-date"/>
        <input type="datetime" id="id-datetime"/>
        <input type="datetime-local" id="id-datetime-local"/>
        <input type="email" id="id-email"/>
        <input type="file" id="id-file"/>
        <input type="hidden" id="id-hidden"/>
        <input type="image" id="id-image"/>
        <input type="month" id="id-month"/>
        <input type="number" id="id-number"/>
        <input type="password" id="id-password"/>
        <input type="radio" id="id-radio"/>
        <input type="range" id="id-range"/>
        <input type="reset" id="id-reset"/>
        <input type="search" id="id-search"/>
        <input type="submit" id="id-submit"/>
        <input type="tel" id="id-tel"/>
        <input type="text" id="id-text"/>
        <input type="time" id="id-time"/>
        <input type="url" id="id-url"/>
        <input type="week" id="id-week"/>
    </form>
</body>

</html>
