<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Forms</title>
    <style>
    </style>

</head>

<body>
    <form method="GET" action="/html/forms">
        <br/><input type="button" class="css button"/>
        <br/><input type="checkbox" class="css checkbox"/>
        <br/><input type="color" class="css color"/>
        <br/><input type="date" class="css date"/>
        <br/><input type="datetime" class="css datetime"/>
        <br/><input type="datetime-local" class="css datetime-local"/>
        <br/><input type="email" class="css email"/>
        <br/><input type="file" class="css file"/>
        <br/><input type="hidden" class="css hidden"/>
        <br/><input type="image" class="css image"/>
        <br/><input type="month" class="css month"/>
        <br/><input type="number" class="css number"/>
        <br/><input type="password" class="css password"/>
        <br/><input type="radio" class="css radio"/>
        <br/><input type="range" class="css range"/>
        <br/><input type="reset" class="css reset"/>
        <br/><input type="search" class="css search"/>
        <br/><input type="submit" class="css submit"/>
        <br/><input type="tel" class="css tel"/>
        <br/><input type="text" class="css text"/>
        <br/><input type="time" class="css time"/>
        <br/><input type="url" class="css url"/>
        <br/><input type="week" class="css week"/>
    </form>
    
</body>

</html>
