<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Forms</title>
    <style>
    </style>

</head>

<body>

    
        <form method="GET" action="/html/forms">
        <input value="button" type="button" id="id-button"/>
        <input value="checkbox" type="checkbox" id="id-checkbox"/>
        <input value="color" type="color" id="id-color"/>
        <input value="date" type="date" id="id-date"/>
        <input value="datetime" type="datetime" id="id-datetime"/>
        <input value="datetime-local" type="datetime-local" id="id-datetime-local"/>
        <input value="email" type="email" id="id-email"/>
        <input value="file" type="file" id="id-file"/>
        <input value="hidden" type="hidden" id="id-hidden"/>
        <input value="image" type="image" id="id-image"/>
        <input value="month" type="month" id="id-month"/>
        <input value="number" type="number" id="id-number"/>
        <input value="password" type="password" id="id-password"/>
        <input value="radio" type="radio" id="id-radio"/>
        <input value="range" type="range" id="id-range"/>
        <input value="reset" type="reset" id="id-reset"/>
        <input value="search" type="search" id="id-search"/>
        <input value="submit" type="submit" id="id-submit"/>
        <input value="tel" type="tel" id="id-tel"/>
        <input value="text" type="text" id="id-text"/>
        <input value="time" type="time" id="id-time"/>
        <input value="url" type="url" id="id-url"/>
        <input value="week" type="week" id="id-week"/>
    </form>
</body>

</html>
