<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Forms</title>
    <style>
    </style>

</head>

<body>

    
    <form method="GET" action="/html/forms">
                <input type="button" name="name-button"/>
        <input type="checkbox" name="name-checkbox"/>
        <input type="color" name="name-color"/>
        <input type="date" name="name-date"/>
        <input type="datetime" name="name-datetime"/>
        <input type="datetime-local" name="name-datetime-local"/>
        <input type="email" name="name-email"/>
        <input type="file" name="name-file"/>
        <input type="hidden" name="name-hidden"/>
        <input type="image" name="name-image"/>
        <input type="month" name="name-month"/>
        <input type="number" name="name-number"/>
        <input type="password" name="name-password"/>
        <input type="radio" name="name-radio"/>
        <input type="range" name="name-range"/>
        <input type="reset" name="name-reset"/>
        <input type="search" name="name-search"/>
        <input type="submit" name="name-submit"/>
        <input type="tel" name="name-tel"/>
        <input type="text" name="name-text"/>
        <input type="time" name="name-time"/>
        <input type="url" name="name-url"/>
        <input type="week" name="name-week"/>
    </form>
</body>

</html>
